In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [2]:
#  Store Part I results into DataFrame
# Load the csv exported in Part I to a DataFrame
weather_csv = "resources/weather_data.csv"
weather_data_df = pd.read_csv(weather_csv)
weather_df = pd.DataFrame(weather_data_df)
weather_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Tarakan,3.30,117.63,77.04,82,100,10.38,ID,1596243492
1,1,Tasiilaq,65.61,-37.64,44.60,65,0,5.55,GL,1596242972
2,2,Puerto El Triunfo,13.28,-88.55,86.00,79,20,3.36,SV,1596243493
3,3,Cabo San Lucas,22.89,-109.91,88.00,54,20,10.29,MX,1596242732
4,4,Rawlins,41.79,-107.24,84.20,16,1,6.93,US,1596243493

In [3]:
# Humidity Heatmap
# Configure gmaps.
# Use the Lat and Lng as locations and Humidity as the weight.
# Add Heatmap layer to map.
gmaps.configure(api_key=g_key)
locations = weather_df[["Latitude", "Longitude"]].astype(float)
humidity = weather_df["Humidity"].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Create new DataFrame fitting weather criteria
# Narrow down the cities to fit weather conditions.

# referenced https://stackoverflow.com/questions/31617845/how-to-select-rows-in-a-dataframe-between-two-values-in-python-pandas

temp_weather_df = weather_df[weather_df["Max Temp"].between(75, 85)] 
cloud_weather_df = temp_weather_df[temp_weather_df["Cloudiness"].between(0, 10)]
vacay_weather_df=cloud_weather_df[cloud_weather_df["Wind Speed"].between(0, 5)]
vacay_weather_df
# Drop any rows will null values.

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
16,16,Bethel,41.37,-73.41,77.00,69,1,3.36,US,1596242920
20,20,San Javier,37.81,-0.84,81.00,100,0,4.70,ES,1596243498
52,52,Beyneu,45.32,55.20,76.33,26,7,4.72,KZ,1596243506
75,75,Bolobo,-2.17,16.23,76.60,59,0,3.22,CD,1596243047
99,99,Albany,42.60,-73.97,79.00,56,0,3.80,US,1596243517
139,139,Avera,33.19,-82.53,82.40,78,1,3.36,US,1596243527
183,183,El Ejido,36.78,-2.81,80.60,88,0,4.70,ES,1596243538
473,473,Fethiye,36.62,29.12,77.00,78,0,3.36,TR,1596243611
476,476,Fairbanks,64.84,-147.72,77.00,38,1,3.98,US,1596243568
544,544,Jacareacanga,-6.22,-57.75,75.11,49,0,0.63,BR,1596243633
546,546,Senador José Porfírio,-2.59,-51.95,78.94,65,0,2.39,BR,1596243634
561,561,Wuwei,37.93,102.64,79.00,43,0,3.85,CN,1596243638

In [5]:
#  Hotel Map
# Store into variable named hotel_df.
# Add a "Hotel Name" column to the DataFrame.
# Set parameters to search for hotels with 5000 meters.
# Hit the Google Places API for each city's coordinates.
# Store the first Hotel result into the DataFrame.
# Plot markers on top of the heatmap.

In [6]:
#  # NOTE: Do not change any of the code in this cell
# # Using the template add the hotel marks to the heatmap
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{Hotel Name}</dd>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>
# </dl>
# """
# # Store the DataFrame Row
# # NOTE: be sure to update with your DataFrame name
# hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# locations = hotel_df[["Lat", "Lng"]]

In [7]:
# Add marker layer ontop of heat map
# Display figure